<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Omikuji</title>
</head>
<body>
    <header>
        <div id="title">
            おみくじ
        </div>
    </header>
    <main>

        <h3 id="message">{{ message }}</h3>

        <form action="#" method="post">
            <input type="submit" value="スタート" name="hit" id="hit-button">
        </form>
    </main>
    <footer>
        <div>
            <p>シナンバン・ユージン</p>
            <p>プログラマー専攻2年生</p>
            <p>19d2030010</p>
            <p><a href="https://twitter.com/codejunkie21">フォローお願いします！</a></p>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>